# ignore all executables in elf subfolder
elf/*
!elf/Makefile
!elf/*.md
!elf/*.c

#ignore all executables in binary_exploitation folders
binary_exploitation/*/*/*
!binary_exploitation/*/*.*
!binary_exploitation/Makefile
!binary_exploitation/*/*/*.*
!binary_exploitation/*/*/Makefile
