# ignore all executables in rop subfolder
binary_exploitation/*/*
!binary_exploitation/*/*.*
!binary_exploitation/*/*/*.*
!binary_exploitation/*/*/*.*
!binary_exploitation/*/*/Makefile

# ignore all executables in elf subfolder
elf/*
!elf/Makefile
!elf/*.*
