# ignore all executables in elf subfolder
elf/*
!elf/Makefile
!elf/*.md
!elf/*.c

#ignore all executables in binary_exploitation folders
binary_exploitation/*/*/*
!binary_exploitation/*/*.*
!binary_exploitation/Makefile
!binary_exploitation/*/*/*.*
!binary_exploitation/*/*/Makefile

#ignore all executables in side_channel folder
side_channel/*/*/*
!side_channel/*/*/*.c
!side_channel/*/*/*.cpp
!side_channel/*/*/*.h
!side_channel/*/*/*.hpp
!side_channel/*/*/Makefile
!side_channel/*/*/*.py
!side_channel/*/*/*.txt
